body {
    background-image: url('/home/beaver/IdeaProjects/bcrypt-app/client/bcrypt_app/src/images/bcrypt_app2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    width: 500px;
    height: 500px;
    margin: 200px auto 0;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('/home/beaver/IdeaProjects/bcrypt-app/client/bcrypt_app/src/images/bcrypt_app.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
h2 {
    margin-top: 100px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.have-account {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}